
<ion-content no-bounce>
  <ion-row class="top-section" style="background-color: #5e493a">
    <ion-col></ion-col>
    <ion-col col-8 >
      <img src="./assets/img/logo.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row class="stretch-to-fit">
    <form [formGroup]="loginForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-row>
              <ion-col class="usernameIcon" col-1><i class="fa fa-user fa-lg cen" aria-hidden="true"></i></ion-col>
              <ion-col>
                  <ion-input class="white-line-text-input" placeholder="Enter Email Address"
                  formControlName="phonenumber"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="passwordIcon" col-1><i class="fa fa-key fa-lg cen" aria-hidden="true"></i></ion-col>
              <ion-col>
                  <ion-input class="white-line-text-input" type="password" placeholder="Enter Password"
                  formControlName="password"></ion-input>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="btn-row">
        <button class="white-long-btn" type="button" (tap)="login();">Login</button>
      </ion-row>
    </form>
    <ion-row class="btn-row">
      <ion-col class="forgotPassword" (tap)="forgotPassword();">Forgot Password ?
      </ion-col>
    </ion-row>
    <ion-row class="btn-row">
      <ion-col class="or">or
      </ion-col>
    </ion-row>
    <ion-row class="btn-row">
      <ion-col class="social-login-facebook">
       <img src="./assets/img/facebook.png" style="width:50% ; height:50%;" ng-click="facebookLogin()" >
      </ion-col>
      <ion-col class="social-login-gmail">
         <img src="./assets/img/googleplus.png" style="width:50% ; height:50%;" ng-click="googlelogin()">
      </ion-col>
    </ion-row>


    <ion-row class="btn-row">
      <ion-col>
        <button ion-button class="text-btn register" type="button" block clear (tap)="goToRegister()">Register</button>
      </ion-col>
    </ion-row>
  </ion-row>


</ion-content>

