page-information {
.scroll-content {

    background-color: color($colors, primary);
    background-image: none;
ion-row {
		margin-left: 5px;
	}

	.item-inner {
		padding: 0 !important;
		margin-right: -10px;
		margin-top: -15px;
	}

	.name {
		font-size: 4.5vw;
		font-size-adjust: auto;
		font-family: $secondary-font;
		white-space: normal;
		font-weight: bold;
	}

	.warranty {
		font-size: 3.5vw;
		font-size-adjust: auto;
		font-family: $secondary-font;
		color: color($colors, secondary);
	}

	.price {
		font-size: 3.5vw;
		font-size-adjust: auto;
		font-family: $secondary-font;
		color: color($colors, secondary);
	}

	.cornerup {
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: contain;
		width: 50%;
		height: 50%;
		opacity: 0.8;
		z-index: 20;
		position: absolute;
		right: -16px;
		top: -13px;

	}

	.cornerdown {
		/*background-image: url($img-path + "/tick.png");*/
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: contain;
		width: 30%;
		height: 30%;
		opacity: 0.8;
		z-index: 21;
		position: absolute;
		top: calc(70%);
		left: calc(0%);
	}

	.cornerdownAlert {
		/*background-image: url($img-path + "/alertIcon.png");*/
		background-repeat: no-repeat;
		background-color: transparent;
		background-size: contain;
		width: 30%;
		height: 30%;
		opacity: 0.8;
		z-index: 22;
		position: absolute;
		top: calc(70%);
		left: calc(0%);
	}

	.img {
		width: 70%;
		float: right;
	}

	.addbuttons {
		width: 100%;
		height: 10%;
		background-color: color($colors, primary);
	}

	.item-ribbon {
		position: absolute;
		top: -5px;
		right: -8px;
		width: 30%;
		z-index: 100;
	}
    .messageInfo{
      font-size: 18px;
      color: white;
      text-align: left;
      margin-top:25px;

    }

    .username {
      font-size: 8vw;
      font-family: $secondary-font;
      color: white;
      text-align: center;
      margin-top: 10px;
    }

    .backBtn {
      width: 50%;
    }

    .Register {
      font-size: 10vw;
      font-family: $main-font;
      color: white;
      text-align: center;
      margin-top: 20px;
    }

    .usernameIcon {

      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 50px;
      margin: auto;
      opacity: 0.8;;
      color: white;
    }

    .passwordIcon {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 50px;
      margin: auto;
      opacity: 0.8;;
      color: white;
    }

    .numberIcon {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 50px;
      margin: auto;
      opacity: 0.8;;
      color: white;
    }

    .selectBloodGroup, .selectGender{
      color: white;
      outline: 2px solid white;
      outline-offset: -8px;
      text-align: center;
    }

    .genderAndGroup{
      margin-top: 10px;
    }

    row {

      height: 50px;
    }

    .backBtn {
      width: 50%;
    }

    ion-item {
      float: right;
      background-color: color($colors, primary);
    }
    input::-webkit-input-placeholder {
      color: $textinput-placeholder-text-color;
    }
    input {
      color: white;
    }

    .dateofbirth{
      background-color: color($colors, primary);

    }

    .dateofbirth{
      outline: 6px solid white;
      outline-offset: -10px;
    }

    ion-label{
      color: white;
    }


  }
}